# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.ear
*.zip
*.tar.gz
*.rar
*.iml

/bin/
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/src/com/cop/client/Clientx/nbproject/private/
/src/com/cop/client/JavaApplication17/nbproject/private/
/src/com/cop/client/JavaApplication18/nbproject/private/
/src/com/cop/client/JavaApplication19/nbproject/private/
/src/com/cop/client/JavaApplication19/build/
/src/com/cop/client/Client/nbproject/private/
/src/com/cop/client/Client/build/
/src/com/cop/client/Client2/nbproject/private/
/src/com/cop/client/Client2/build/
/src/com/cop/client/Homework_6/nbproject/private/
/src/com/cop/client/Homework_6/build/